.playground-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .icon-container {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 4px;
  }
  .content-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
  .logo {
    height: 80px;
  }
  .header-container {
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
    padding: 2px 0;
  }
  .input-output-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    .input-header {
      background-color: #ededed;
      padding: 10px;
      display: flex;
      justify-content: space-between;

      input {
        display: none;
      }
    }
    textarea {
      flex-grow: 1;
      border: none;
      resize: none;
      padding: 10px;
      font-size: 20px;
    }
    textarea:focus {
      outline: none;
    }
    button{
      border: none;
      background: none;
      color: black;
      font-size: 15px;
      font-weight: bold;
    }
  }
  .editor-container {
    grid-row: 1/3;
  }
}
