.right-container {
  padding: 20px;
  .add {
    color: #0000ff;
    cursor: pointer;
  }
  .edit {
    color: #008000;
    cursor: pointer;
  }
  .delete {
    color: #ff0000;
    cursor: pointer;
  }
  .folder {
    color: #ffca29;
  }
  .edit:hover {
    scale: 1.09;
  }
  .delete:hover {
    scale: 1.09;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid black;
    .add-folder {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: white;
    }
    .title {
      font-weight: 600;
      font-size: 30px;
      span {
        font-weight: 400;
      }
    }
  }
  .folder-container {
    .folder-header {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid black;
      padding: 10px 0;
      .folder-header-item {
        display: flex;
        gap: 20px;
        align-items: center;
        button {
          background-color: white;
          border: none;
          display: flex;
          align-items: center;
        }
      }
    }
    .cards-container {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-between;
      .card {
        display: flex;
        border-radius: 10px;
        box-shadow: 2px 2px 5px gray;
        cursor: pointer;
        width: 43%;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        transition-duration: 0.5s;
        .title-container {
          display: flex;
          flex-direction: column;
          .title-container-icons {
            display: flex;
            gap: 10px;
          }
        }
        img {
            width: 40px;
        }
      }
      .card:hover {
        box-shadow: 2px 2px 15px gray;
        scale: 1.02;
      }
    }
  }
}
